body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
    background-color: #222;
}

main {
    max-width: 640px;
    margin: auto;
    max-height: calc(100vh - 140px);
    overflow: auto;
    padding: 10px;
    padding-bottom: 50px;
}

.loader {
    position: absolute;
    top: 0;
    display: flex;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fefefe;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.loader img {
    width: 50px;
    margin: auto;
    height: auto;
}